/* 
  Theme: Beatles
  Authore: 
  Live URL: https://www.websiteurl.com

  Primary color: #0872b9
  Secondary color: #353535

  Font Style:
    Title: "Oswald", sans-serif;
    Paragraph: "Open Sans", sans-serif;

*/

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

/* Global CSS */
*{
  padding: 0;
  margin: 0;
}
body, p, ul, li, a, h1, h2, h3, h4, h5, h6, span, div{
  padding: 0;
  margin: 0;
}
body{
  font-family: "Open Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
p{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
a{
  text-decoration: none;
  color: #0872b9;
}
ul, ol, li{
  list-style: none;
}

/* Header Section Start */
header{
  background-color: #0872b9;
  padding: 10px 0;
}
.welcome p{
  color: #fff;
}
.header_icon ul{
  float: right;
}
.header_icon ul li{
  float: left;
}
.header_icon ul li a{
  color: #fff;
  padding: 0 18px;
  transition: all linear 0.3s;
}
.header_icon ul li a:hover{
  color: #000;
  transition: all linear 0.3s;
}

/* Navbar start */
.nav-item{
  padding: 0 10px;
}
.nav_padding{
  padding: 0;
}
.nav-item .nav-link{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: #353535; 
  padding: 0;
}
.nav-item .nav-link:hover{
  color: #0872b9;
}
.navbar-nav .nav-item .nav-link.active{
  color: #0872b9;
}
/* Navbar End */
/* Header Section End */

/* Banner Section Start*/
#banner_section{
 background-image: url(../images/banner.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}
.banner_overlay{
  padding: 150px 0;
  background: rgba(0, 0, 0, 0.6);

}
.banner_content{
  text-align: right;
}
.banner_content h4{
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}
.banner_content h1{
  font-size: 40px;
  font-weight: 700;
  padding: 20px 0;
  color: #fff;
}
.banner_content p{
  color: #fff;
  line-height: 34px;
  padding: 10px 0 50px;
}
.banner_content a{
  padding: 10px 20px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 20px;
  transition: all linear .3s;
}
.banner_content a:hover{
  border: 2px solid #0872b9;
  background-color: #0872b9;
  transition: all linear .3s;
}
/* Banner Section End*/

/* About Section Start*/
/* =====Common Heading Start===== */
.common_heading{
  position: relative;
}
.common_heading h2{
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin: 60px 0 45px;
}
.common_heading img{
  position: absolute;
  bottom: -15%;
  left: 46%;
}
/* =====Common Heading End===== */

.about_content{
  line-height: 28px;
}
.about_first_p{
  padding: 50px 0 40px;
}
/* About Section End*/


/* Service Section Start */
.service_section{
  padding: 60px 0;
}
.service_content{
  position: relative;
  transition: all linear .3s;
  margin-top: 50px;
}
.service_icon_main{
  background-color: #f1f1f1;
  height: 80px;
  width: 80px;
  position: absolute;
  left: 40%;
  top: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all linear .3s;
}
.service_icon{
  height: 70px;
  width: 70px;
  background-color: #f1f1f1;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear .3s;
}
.service_info{
  background-color: #f1f1f1;
  text-align: center;
  padding: 60px 15px 30px 15px;
}
.service_info h3{
  font-size: 22px;
  color: #353535;
  margin-bottom: 15px;
  font-weight: 600;
}
.service_info{
  color: #555555;
  font-weight: 500;
}
.service_content:hover{
  box-shadow: 5px 5px 5px rgba(185, 185, 185, 0.6);
  transition: all linear .3s;
}
.service_content:hover .service_icon, 
.service_content:hover .service_icon_main{
  background-color: #5bc5f4;
  transition: all linear .3s;
}
/* Service Section End */


/* Portfolio Section Start*/
.portfolio_section{
  padding: 0 0 60px;
}
.portfolio_img{
  position: relative;
  margin-bottom: 25px;
}
.portfolio_overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all linear 0.4s;
}
.portfolio_overlay a{
  color: #fff;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  background-color: #5bc5f4;
  border-radius: 50%;
}
.portfolio_img:hover .portfolio_overlay {
opacity: 1;
transition: all linear 0.4s;
}
/* Portfolio Section End*/


/* Team Section Start*/
.team_section{
  padding: 0 0 60px;
}
.team_info{
  text-align: center;
}
.team_img{
  position: relative;
  overflow: hidden;
  transition: all linear .4s;
}
.team_overlay{
  position: absolute;
  top: 0;
  right: -40%;
  height: 100%;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all linear .4s;
}
.team_overlay a{
  height: 40px;
  width: 40px;
  border: 2px solid #fff;
  color: #fff;
  line-height: 40px;
  border-radius: 50%;
  display: block;
  margin-bottom: 15px;
  transition: all linear .4s;
}
.team_overlay a:hover{
  background-color: #5bc5f4;
  border: 2px solid #5bc5f4;
  transition: all linear .4s;
}
.team_img:hover .team_overlay{
  opacity: 1;
  transition: all linear .4s;
  right: 0;
}
.team_content h3 {
  font-size: 22px;
  color: #353535;
  font-weight: 500;
  margin: 12px 0 5px;
  transition: all linear .4s;
}
.team_content p {
  color: #555555;
  font-weight: 600;
}
.team_info:hover .team_content h3{
  color: #5bc5f4;
  transition: all linear .4s;
}
/* Team Section End*/


/* Testimonial Section Start */
.testimonial_section{
  padding: 0 0 60px;
}
.testimonial_info{
  text-align: center;
}
.testimonial_content{
  position: relative;
  background-color: #f1f1f1;
  padding: 25px 15px;
  margin-top: 40px;
}
.testimonial_content ul{
  display: inline-flex;
  color: #5bc5f4;
  margin: 10px 0;
}
.testimonial_content ul li a{
  color: #5BC5F4;
}
.testimonial_content p{
  font-family: "Oswald", sans-serif;
  margin-top: 10px;
  line-height: 30px;
}
.shape {
  height: 40px;
  width: 40px;
  background-color: #f1f1f1;
  transform: rotate(45deg);
  position: absolute;
  top: -7%;
  left: 47%;
  z-index: -1;
}
/* Testimonial Section End */


/* Footer Section Start*/
footer{
  background-color: #353535;
  padding: 40px 0;
}
.footer_text p{
  color: #fff;
  line-height: 30px;
}
.footer_text p:first-child{
  padding: 20px 0;
}
.footer_common_heading h4{
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  padding-top: 6px;
  margin-bottom: 35px;
}
.footer_icon a{
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: #5bc5f4;
  color: #fff;
  font-size: 18px;
  display: block;
  margin-top: 5px;
}
.footer_number p{
  color: #fff;
}
.footer_menu ul li a{
  color: #fff;
  line-height: 40px;
  transition: all linear .4s;
}
.footer_menu ul li a:hover{
  color: #5bc5f4;
  transition: all linear .4s;
}
.footer_photo{
  padding-bottom: 20px;
}
/* Footer Section End*/

/* Copyright Section Start */
.copyright_section{
  background-color: #555555;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
/* Copyright Section Start */
.copyright span{
  color: #5bbee9;
}
/* Copyright Section END */